body {
	background-image: url('../images/intro_img/congruent_pentagon.png');
	background-repeat: repeat;
}

#company, #lamp, #light {
	text-align: center;
}

#company {
	margin-top: 70px;
	font-size: 30px;
}

#head, #body, #string, #light, .btn {
	position: absolute;
}

#head {
	left: 520px;
	top: 10px;
	z-index: -1;
	opacity: 0.5;
}

#head.bright {
	opacity: 0.9;
}

#body, #string {
	z-index: -2;
	top: 170px;
}

#body {
	left: 614px;
}

#string {
	left: 700px;
	cursor: pointer;
	z-index: 1;
}

#light {
	left: 400px;
	top: 170px;
	opacity: 0;
	transition: 0.5s;
}

#light.on{
	opacity: 1;
	transition: 2s;
}

.btn {
	top: 420px;
	left: 320px;
}
