@import url(http://fonts.googleapis.com/css?family=Biryani:400,600);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
/*
Put any external css here.
*/
/*Sample css*/
body{
	background-color: #BEBEBE;
}

.main {
	background-color: #FFFAFF;
	width: 90vw;
	height: 100%;
	margin-top: 8vh;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

h4 {
	position: absolute;
	font-size: 16px;
	top: 4vh;
	left: 4.5%;
	font-family: "Courier New", serif;
	font-weight: normal;
}

/*Sample css*/

img {
	width: 200px;
	height: 200px;
}

h1 {
	font-family: 'Varela Round', sans-serif;
	font-size: 45px;
}

.col-md-2 {
	margin: 10px;
}

.partspan {
	font-size: 13px;
}

.resultbackground {
	position: fixed;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	
}

.resultbackground img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

.details {
	background-color: rgba(227, 235, 241, 0.8);
	padding: 21px;
	border-radius: 4px;
	position: relative;
	width: 800px;
	z-index: 2;
	margin: 70px;
}

.details p {
	font-size: 18px;
}

.bottombuttons {
	text-align: center;
}

.prevnextbutton {
	width: 150px;
	height: 40px;
	font-size: 21px;
	margin: 10px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	background-color: #eeeeee;
}

a{
	color: #5b5b5b;
}

a:hover, a:focus{
	color: #088da5;
	text-decoration: none;

}

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + label { 
    opacity: 0.5;
    box-shadow: 5px 5px 10px #FF0066; 
}

hr {
	height: 8px;
	background-color: #BEBEBE;
	border: none;
	margin: 0;
}
