@import url(http://fonts.googleapis.com/css?family=Biryani:400,600);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
/*
Put any external css here.
*/

body {
	background-image: url("../Backgrounds/norwegian_rose.png");
	font-family: 'Biryani', sans-serif;
}

.main {
	background-color: #FFFAFF;
	width: 90vw;
	height: 100%;
	margin-top: 12vh;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background: rgba(255,247,250,0.8);
}



h2 {
	background-color: pink;
	color: white;
	position: absolute;
	left: 4.5%;
	top: 0px;
}

h4 {
	position: absolute;
	font-size: 18px;
	top: 7vh;
	left: 4.5%;
	font-family: 'Varela Round', "Courier New", serif;
	font-weight: normal;
}

img {
	width: 200px;
	height: 200px;
	border: solid 1px gray;
}

.img{
	margin-right: 30px !important;
}

h1 {
	font-family: 'Varela Round', sans-serif;
	font-size: 50px;
}



.col-md-2 {
	margin: 10px;
}

.partspan {
	font-size: 13px;
}

.resultbackground {
	position: fixed;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	
}

.resultbackground img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

.details {
	background-color: rgba(227, 235, 241, 0.8);
	padding: 21px;
	border-radius: 4px;
	position: relative;
	width: 800px;
	height: 550px;
	z-index: 2;
	margin: 70px;
}
/*
@media screen and (max-width: 800px) {
	.details {
		height: 50vh;
	}

	.details p {
		font-size: 22px;
	}
}
*/

.details p {
	font-size: 22px;
}

.bottombuttons {
	text-align: center;
	margin-bottom: 25px;
	margin-top: 10px;
}

.prevnextbutton {
	width: 150px;
	height: 40px;
	font-size: 21px;
	margin: 10px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	background-color: #eeeeee;
	border-bottom: solid 1px gray;
	border-top: solid 1px gray;
}

.prevnextbutton:hover {
	background-color: #cbe4ff;
	border-bottom: solid 1px #9eb4cc;
	border-top: solid 1px #9eb4cc;
}

a {
	color: #5b5b5b;
}

a:hover, a:focus {
	color: #088da5;
	text-decoration: none;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + label { 
    opacity: 0.6;
    box-shadow: 10px 15px 20px #ff3284; 
}

hr {
	height: 20px;
	background-color: #BEBEBE;
	border: none;
	margin: 0;
	opacity: 0.4;
}
/*
@media screen and (min-width: 1400px) {
	.row {
	width: 103vw;
	}
}
*/
