@import url(http://fonts.googleapis.com/css?family=Biryani:400,600);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
/*
Put any external css here.
*/
/*Sample css*/
body{
	background-image: url("../Backgrounds/halftone.png");
	font-family: 'Biryani', sans-serif; 
}

/*Sample css*/
div {
	font-weight: bold;
}

img {
	width: 230px;
	height: 230px;
}

h1 {
	font-family: 'Varela Round', sans-serif;
	font-size: 45px;
}

.col-md-2 {
	margin: 10px;
}

.row {
	margin-bottom: 90px;
}

.partspan {
	font-size: 13px;
}

.resultbackground {
	position: fixed;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	
}

.resultbackground img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

.details {
	background-color: rgba(227, 235, 241, 0.8);
	padding: 21px;
	border-radius: 4px;
	position: relative;
	width: 800px;
	z-index: 2;
	margin: 70px;
}

.details p {
	font-size: 18px;
}

a{
	color: white;
}

a:hover, a:focus{
	color: yellow;
	text-decoration: none;
}