<div>
	<h1>Bedrooms</h1>
	<p>Choose your most preferred bedroom style <span class="partspan">[Part 2 of 5]</span></p>
	<form>
		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="modernbed1" value="modern">
				<label for="modernbed1">
					<img src="images/modern/modernbed1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="bohobed1" value="boho">
				<label for="bohobed1">
					<img src="images/Electic bohemian/bohobed1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="cottagebed1" value="cottage">
				<label for="cottagebed1">
					<img src="images/cottage farmhouse/cottagebed1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="tradbed1" value="traditional">
				<label for="tradbed1">
					<img src="images/traditional/tradbed1.jpg"></img>
				</label>
			</div>			

			<div class="col-md-2">
				<input type="radio" id="industrustbed1" value="industrial">
				<label for="industrustbed1">
					<img src="images/Industrial/industrustbed1.jpg"></img>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="tradbed2" value="traditional">
				<label for="tradbed2">
					<img src="images/traditional/tradbed2.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="industrustbed2" value="industrial">
				<label for="industrustbed2">
					<img src="images/Industrial/industrustbed2.jpg"></img>
				</label>
			</div>
			
			<div class="col-md-2">
				<input type="radio" id="bohobed2" value="boho">
				<label for="bohobed2">
					<img src="images/Electic bohemian/bohobed2.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="cottagebed2" value="cottage">
				<label for="cottagebed2">
					<img src="images/cottage farmhouse/cottagebed2.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="modernbed2" value="modern">
				<label for="modernbed2">
					<img src="images/modern/modernbed2.jpg"></img>
				</label>
			</div>

		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="industrustbed3" value="industrial">
				<label for="industrustbed3">
					<img src="images/Industrial/industrustbed3.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="cottagebed3" value="cottage">
				<label for="cottagebed3">
					<img src="images/cottage farmhouse/cottagebed3.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="modernbed3" value="modern">
				<label for="modernbed3">
					<img src="images/modern/modernbed3.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="tradbed3" value="traditional">
				<label for="tradbed3">
					<img src="images/traditional/tradbed3.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="bohobed3" value="boho">
				<label for="bohobed3">
					<img src="images/Electic bohemian/bohobed3.jpg"></img>
				</label>
			</div>			
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="industrustbed4" value="industrial">
				<label for="industrustbed4">
					<img src="images/Industrial/industrustbed4.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="tradbed4" value="traditional">
				<label for="tradbed4">
					<img src="images/traditional/tradbed4.jpg"></img>
				</label>
			</div>	
			
			<div class="col-md-2">
				<input type="radio" id="cottagebed4" value="cottage">
				<label for="cottagebed4">
					<img src="images/cottage farmhouse/cottagebed4.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="bohobed4" value="boho">
				<label for="bohobed4">
					<img src="images/Electic bohemian/bohobed4.jpg"></img>
				</label>
			</div>	
			<div class="col-md-2">
				<input type="radio" id="modernbed4" value="modern">
				<label for="modernbed4">
					<img src="images/modern/modernbed4.jpg"></img>
				</label>
			</div>

		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="modernbed5" value="modern">
				<label for="modernbed5">
					<img src="images/modern/modernbed5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="cottagebed5" value="cottage">
				<label for="cottagebed5">
					<img src="images/cottage farmhouse/cottagebed5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="tradbed5" value="traditional">
				<label for="tradbed5">
					<img src="images/traditional/tradbed5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="bohobed5" value="boho">
				<label for="bohobed5">
					<img src="images/Electic bohemian/bohobed5.jpg"></img>
				</label>
			</div>	
			<div class="col-md-2">
				<input type="radio" id="industrustbed5" value="industrial">
				<label for="industrustbed5">
					<img src="images/Industrial/industrustbed5.jpg"></img>
				</label>
			</div>				
		</div>
	</form>
	
	<button class="btn-btn-primary"><a href="#/1">Previous</a></button>
	<button class="btn-btn-primary"><a href="#/3">Next</a></button>
</div>