<div>
	<h1>Part 1 of Quiz</h1>

	<img src="../images/Electic bohemian/bohobath1.jpg"></img>
	<img src="../images/cottage farmhouse/cottagebath1.jpg"></img>
	<img src="../images/modern/modernbath1.jpg"></img>
	<img src="../images/Industrial/industrustbath1.jpg"></img>
	<img src="../images/traditional/tradbath1.jpg"></img>


	<img src="../images/traditional/tradbath2.jpg"></img>
	<img src="../images/Electic bohemian/bohobath2.jpg"></img>
	<img src="../images/Industrial/industrustbath2.jpg"></img>
	<img src="../images/cottage farmhouse/cottagebath2.jpg"></img>
	<img src="../images/modern/modernbath2.jpg"></img>


	<img src="../images/cottage farmhouse/cottagebath3.jpg"></img>
	<img src="../images/traditional/tradbath3.jpg"></img>
	<img src="../images/Industrial/industrustbath3.jpg"></img>
	<img src="../images/modern/modernbath3.jpg"></img>
	<img src="../images/Electic bohemian/bohobath3.jpg"></img>


	<img src="../images/Industrial/industrustbath4.jpg"></img>
	<img src="../images/Electic bohemian/bohobath4.jpg"></img>
	<img src="../images/cottage farmhouse/cottagebath4.jpg"></img>
	<img src="../images/traditional/tradbath4.jpg"></img>
	<img src="../images/modern/modernbath4.jpg"></img>

	
	<img src="../images/modern/modernbath5.jpg"></img>
	<img src="../images/cottage farmhouse/cottagebath5.jpg"></img>
	<img src="../images/traditional/tradbath5.jpg"></img>
	<img src="../images/Electic bohemian/bohobath5.jpg"></img>
	<img src="../images/Industrial/industrustbath5.jpg"></img>

	<footer>
		<a class="btn-btn-primary" href="#/">Previous</a>
		<a class="btn-btn-primary" href="#/2">Next</a>
	</footer>
</div>