<h4>Choose your most preferred bathroom style for each row <span class="partspan">[Part 1 of 5]</span></h4>
<div class="main">
	<h2>Bathrooms</h2>
	<form>
		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="bohobath1" value="boho" ng-model="quizData.bath1">
				<label for="bohobath1">
					<img src="images/Electic bohemian/bohobath1.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="cottagebath1" value="cottage" ng-model="quizData.bath1">
				<label for="cottagebath1">
					<img src="images/cottage farmhouse/cottagebath1.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="modernbath1" value="modern" ng-model="quizData.bath1">
				<label for="modernbath1">
					<img src="images/modern/modernbath1.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="industrustbath1" value="industrial" ng-model="quizData.bath1">
				<label for="industrustbath1">
					<img src="images/Industrial/industrustbath1.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="tradbath1" value="traditional" ng-model="quizData.bath1">
				<label for="tradbath1">
					<img src="images/traditional/tradbath1.jpg"></img>
				</label>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-2 col-md-offset-1 options">
				<input type="radio" id="tradbath2" ng-model="quizData.bath2" value="traditional">
				<label for="tradbath2">
					<img src="images/traditional/tradbath2.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="modernbath2" value="modern" ng-model="quizData.bath2">
				<label for="modernbath2">
					<img src="images/modern/modernbath2.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="bohobath2" value="boho" ng-model="quizData.bath2">
				<label for="bohobath2">
					<img src="images/Electic bohemian/bohobath2.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="industrustbath2" value="industrial" ng-model="quizData.bath2">
				<label for="industrustbath2">
					<img src="images/Industrial/industrustbath2.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="cottagebath2" value="cottage" ng-model="quizData.bath2">
				<label for="cottagebath2">
					<img src="images/cottage farmhouse/cottagebath2.jpg"></img>
				</label>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="cottagebath3" value="cottage" ng-model="quizData.bath3">
				<label for="cottagebath3">
					<img src="images/cottage farmhouse/cottagebath3.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="tradbath3" value="traditional" ng-model="quizData.bath3">
				<label for="tradbath3">
					<img src="images/traditional/tradbath3.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="industrustbath3" value="industrial" ng-model="quizData.bath3">
				<label for="industrustbath3">
					<img src="images/Industrial/industrustbath3.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="modernbath3" value="modern" ng-model="quizData.bath3">
				<label for="modernbath3">
					<img src="images/modern/modernbath3.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="bohobath3" value="boho" ng-model="quizData.bath3">
				<label for="bohobath3">
					<img src="images/Electic bohemian/bohobath3.jpg"></img>
				</label>
			</div>			
		</div>

		<hr>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="industrustbath4" value="industrial" ng-model="quizData.bath4">
				<label for="industrustbath4">
					<img src="images/Industrial/industrustbath4.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="bohobath4" value="boho" ng-model="quizData.bath4">
				<label for="bohobath4">
					<img src="images/Electic bohemian/bohobath4.jpg"></img>
				</label>
			</div>	
			<div class="col-md-2">
				<input type="radio" id="cottagebath4" value="cottage" ng-model="quizData.bath4">
				<label for="cottagebath4">
					<img src="images/cottage farmhouse/cottagebath4.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="modernbath4" value="modern" ng-model="quizData.bath4">
				<label for="modernbath4">
					<img src="images/modern/modernbath4.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="tradbath4" value="traditional" ng-model="quizData.bath4">
				<label for="tradbath4">
					<img src="images/traditional/tradbath4.jpg"></img>
				</label>
			</div>	
		</div>

		<hr>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="modernbath5" value="modern" ng-model="quizData.bath5">
				<label for="modernbath5">
					<img src="images/modern/modernbath5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="cottagebath5" value="cottage" ng-model="quizData.bath5">
				<label for="cottagebath5">
					<img src="images/cottage farmhouse/cottagebath5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="tradbath5" value="traditional" ng-model="quizData.bath5">
				<label for="tradbath5">
					<img src="images/traditional/tradbath5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="bohobath5" value="boho" ng-model="quizData.bath5">
				<label for="bohobath5">
					<img src="images/Electic bohemian/bohobath5.jpg"></img>
				</label>
			</div>	
			<div class="col-md-2">
				<input type="radio" id="industrustbath5" value="industrial" ng-model="quizData.bath5">
				<label for="industrustbath5">
					<img src="images/Industrial/industrustbath5.jpg"></img>
				</label>
			</div>				
		</div>
	</form>
	</div>
	
	<div class="bottombuttons">
		<button class="btn-btn-primary prevnextbutton"><a href="index.html">Previous</a></button>
		<button ng-if="quizData.bath1 != null && quizData.bath2 != null && quizData.bath3 != null && quizData.bath4 != null && quizData.bath5 != null" class="btn-btn-primary prevnextbutton"><a href="#/2">Next</a></button>
	</div>