<div>
	<h2>Kitchens</h2>
	<p>Choose your most preferred kitchen style <span class="partspan">[Part 4 of 5]</span></p>
	<form>
		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="bohokitchen1" value="boho" ng-model="quizData.kitchen1">
				<label for="bohokitchen1">
					<img src="images/Electic bohemian/bohokitchen1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="cottagekitchen1" value="cottage" ng-model="quizData.kitchen1">
				<label for="cottagekitchen1">
					<img src="images/cottage farmhouse/cottagekitchen1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="modernkitchen1" value="modern" ng-model="quizData.kitchen1">
				<label for="modernkitchen1">
					<img src="images/modern/modernkitchen1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="tradkitchen1" value="traditional" ng-model="quizData.kitchen1">
				<label for="tradkitchen1">
					<img src="images/traditional/tradkitchen1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="industrustkitchen1" value="industrial" ng-model="quizData.kitchen1">
				<label for="industrustkitchen1">
					<img src="images/Industrial/industrustkitchen1.jpg"></img>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="tradkitchen2" value="traditional" ng-model="quizData.kitchen2">
				<label for="tradkitchen2">
					<img src="images/traditional/tradkitchen2.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="industrustkitchen2" value="industrial" ng-model="quizData.kitchen2">
				<label for="industrustkitchen2">
					<img src="images/Industrial/industrustkitchen2.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="modernkitchen2" value="modern" ng-model="quizData.kitchen2">
				<label for="modernkitchen2">
					<img src="images/modern/modernkitchen2.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="bohokitchen2" value="boho" ng-model="quizData.kitchen2">
				<label for="bohokitchen2">
					<img src="images/Electic bohemian/bohokitchen2.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="cottagekitchen2" value="cottage" ng-model="quizData.kitchen2">
				<label for="cottagekitchen2">
					<img src="images/cottage farmhouse/cottagekitchen2.jpg"></img>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="cottagekitchen3" value="cottage" ng-model="quizData.kitchen3">
				<label for="cottagekitchen3">
					<img src="images/cottage farmhouse/cottagekitchen3.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="industrustkitchen3" value="industrial" ng-model="quizData.kitchen3">
				<label for="industrustkitchen3">
					<img src="images/Industrial/industrustkitchen3.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="tradkitchen3" value="traditional" ng-model="quizData.kitchen3">
				<label for="tradkitchen3">
					<img src="images/traditional/tradkitchen3.jpg"></img>
				</label>
			</div>

			
			<div class="col-md-2">
				<input type="radio" id="modernkitchen3" value="modern" ng-model="quizData.kitchen3">
				<label for="modernkitchen3">
					<img src="images/modern/modernkitchen3.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="bohokitchen3" value="boho" ng-model="quizData.kitchen3">
				<label for="bohokitchen3">
					<img src="images/Electic bohemian/bohokitchen3.jpg"></img>
				</label>
			</div>			
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="tradkitchen4" value="traditional" ng-model="quizData.kitchen4">
				<label for="tradkitchen4">
					<img src="images/traditional/tradkitchen4.jpg"></img>
				</label>
			</div>
			
			<div class="col-md-2">
				<input type="radio" id="bohokitchen4" value="boho" ng-model="quizData.kitchen4">
				<label for="bohokitchen4">
					<img src="images/Electic bohemian/bohokitchen4.jpg"></img>
				</label>
			</div>	
			<div class="col-md-2">
				<input type="radio" id="cottagekitchen4" value="cottage" ng-model="quizData.kitchen4">
				<label for="cottagekitchen4">
					<img src="images/cottage farmhouse/cottagekitchen4.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="modernkitchen4" value="modern" ng-model="quizData.kitchen4">
				<label for="modernkitchen4">
					<img src="images/modern/modernkitchen4.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="industrustkitchen4" value="industrial" ng-model="quizData.kitchen4">
				<label for="industrustkitchen4">
					<img src="images/Industrial/industrustkitchen4.jpg"></img>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="modernkitchen5" value="modern" ng-model="quizData.kitchen5">
				<label for="modernkitchen5">
					<img src="images/modern/modernkitchen5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="bohokitchen5" value="boho" ng-model="quizData.kitchen5">
				<label for="bohokitchen5">
					<img src="images/Electic bohemian/bohokitchen5.jpg"></img>
				</label>
			</div>
			
			<div class="col-md-2">
				<input type="radio" id="tradkitchen5" value="traditional" ng-model="quizData.kitchen5">
				<label for="tradkitchen5">
					<img src="images/traditional/tradkitchen5.jpg"></img>
				</label>
			</div>
				
			<div class="col-md-2">
				<input type="radio" id="industrustkitchen5" value="industrial" ng-model="quizData.kitchen5">
				<label for="industrustkitchen5">
					<img src="images/Industrial/industrustkitchen5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="cottagekitchen5" value="cottage" ng-model="quizData.kitchen5">
				<label for="cottagekitchen5">
					<img src="images/cottage farmhouse/cottagekitchen5.jpg"></img>
				</label>
			</div>				
		</div>
	</form>

	<div class="bottombuttons">
		<button class="btn-btn-primary prevnextbutton"><a href="#/3">Previous</a></button>
		<button class="btn-btn-primary prevnextbutton" ng-if="quizData.kitchen1 != null && quizData.kitchen2 != null && quizData.kitchen3 != null && quizData.kitchen4 != null && quizData.kitchen5 != null" class="btn-btn-primary"><a href="#/5">Next</a></button>
	</div>
</div>