<div>
	<h1>Bathrooms</h1>
	<p>Choose your most preferred bathroom style <span class="partspan">[Part 1 of 5]</span></p>
	<form>
		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="bohobath1" value="boho">
				<label for="bohobath1">
					<img src="images/Electic bohemian/bohobath1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="cottagebath1" value="cottage">
				<label for="cottagebath1">
					<img src="images/cottage farmhouse/cottagebath1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="modernbath1" value="modern">
				<label for="modernbath1">
					<img src="images/modern/modernbath1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="industrustbath1" value="industrial">
				<label for="industrustbath1">
					<img src="images/Industrial/industrustbath1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="tradbath1" value="traditional">
				<label for="tradbath1">
					<img src="images/traditional/tradbath1.jpg"></img>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="tradbath2" value="traditional">
				<label for="tradbath2">
					<img src="images/traditional/tradbath2.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="modernbath2" value="modern">
				<label for="modernbath2">
					<img src="images/modern/modernbath2.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="bohobath2" value="boho">
				<label for="bohobath2">
					<img src="images/Electic bohemian/bohobath2.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="industrustbath2" value="industrial">
				<label for="industrustbath2">
					<img src="images/Industrial/industrustbath2.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="cottagebath2" value="cottage">
				<label for="cottagebath2">
					<img src="images/cottage farmhouse/cottagebath2.jpg"></img>
				</label>
			</div>


		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="cottagebath3" value="cottage">
				<label for="cottagebath3">
					<img src="images/cottage farmhouse/cottagebath3.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="tradbath3" value="traditional">
				<label for="tradbath3">
					<img src="images/traditional/tradbath3.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="industrustbath3" value="industrial">
				<label for="industrustbath3">
					<img src="images/Industrial/industrustbath3.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="modernbath3" value="modern">
				<label for="modernbath3">
					<img src="images/modern/modernbath3.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="bohobath3" value="boho">
				<label for="bohobath3">
					<img src="images/Electic bohemian/bohobath3.jpg"></img>
				</label>
			</div>			
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="industrustbath4" value="industrial">
				<label for="industrustbath4">
					<img src="images/Industrial/industrustbath4.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="bohobath4" value="boho">
				<label for="bohobath4">
					<img src="images/Electic bohemian/bohobath4.jpg"></img>
				</label>
			</div>	
			<div class="col-md-2">
				<input type="radio" id="cottagebath4" value="cottage">
				<label for="cottagebath4">
					<img src="images/cottage farmhouse/cottagebath4.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="modernbath4" value="modern">
				<label for="modernbath4">
					<img src="images/modern/modernbath4.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="tradbath4" value="traditional">
				<label for="tradbath4">
					<img src="images/traditional/tradbath4.jpg"></img>
				</label>
			</div>	
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="modernbath5" value="modern">
				<label for="modernbath5">
					<img src="images/modern/modernbath5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="cottagebath5" value="cottage">
				<label for="cottagebath5">
					<img src="images/cottage farmhouse/cottagebath5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="tradbath5" value="traditional">
				<label for="tradbath5">
					<img src="images/traditional/tradbath5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="bohobath5" value="boho">
				<label for="bohobath5">
					<img src="images/Electic bohemian/bohobath5.jpg"></img>
				</label>
			</div>	
			<div class="col-md-2">
				<input type="radio" id="industrustbath5" value="industrial">
				<label for="industrustbath5">
					<img src="images/Industrial/industrustbath5.jpg"></img>
				</label>
			</div>				
		</div>

	</form>

	
	<a class="btn-btn-primary" href="#/">Previous</a>
	<a class="btn-btn-primary" href="#/2">Next</a>

</div>