<div>
	<h2>Living Rooms</h2>
	<p>Choose your most preferred living room style <span class="partspan">[Part 5 of 5]</span></p>
	<form>
		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="modernliving1" value="modern" ng-model="quizData.living1">
				<label for="modernliving1">
					<img src="images/modern/modernliving1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="cottageliving1" value="cottage" ng-model="quizData.living1">
				<label for="cottageliving1">
					<img src="images/cottage farmhouse/cottageliving1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="industrustliving1" value="industrial" ng-model="quizData.living1">
				<label for="industrustliving1">
					<img src="images/Industrial/industrustliving1.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="boholiving1" value="boho" ng-model="quizData.living1">
				<label for="boholiving1">
					<img src="images/Electic bohemian/boholiving1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="tradliving1" value="traditional" ng-model="quizData.living1">
				<label for="tradliving1">
					<img src="images/traditional/tradliving1.jpg"></img>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="tradliving2" value="traditional" ng-model="quizData.living2">
				<label for="tradliving2">
					<img src="images/traditional/tradliving2.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="modernliving2" value="modern" ng-model="quizData.living2">
				<label for="modernliving2">
					<img src="images/modern/modernliving2.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="industrustliving2" value="industrial" ng-model="quizData.living2">
				<label for="industrustliving2">
					<img src="images/Industrial/industrustliving2.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="cottageliving2" value="cottage" ng-model="quizData.living2">
				<label for="cottageliving2">
					<img src="images/cottage farmhouse/cottageliving2.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="boholiving2" value="boho" ng-model="quizData.living2">
				<label for="boholiving2">
					<img src="images/Electic bohemian/boholiving2.jpg"></img>
				</label>
			</div>		
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="cottageliving3" value="cottage" ng-model="quizData.living3">
				<label for="cottageliving3">
					<img src="images/cottage farmhouse/cottageliving3.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="tradliving3" value="traditional" ng-model="quizData.living3">
				<label for="tradliving3">
					<img src="images/traditional/tradliving3.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="industrustliving3" value="industrial" ng-model="quizData.living3">
				<label for="industrustliving3">
					<img src="images/Industrial/industrustliving3.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="modernliving3" value="modern" ng-model="quizData.living3">
				<label for="modernliving3">
					<img src="images/modern/modernliving3.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="boholiving3" value="boho" ng-model="quizData.living3">
				<label for="boholiving3">
					<img src="images/Electic bohemian/boholiving3.jpg"></img>
				</label>
			</div>			
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="industrustliving4" value="industrial" ng-model="quizData.living4">
				<label for="industrustliving4">
					<img src="images/Industrial/industrustliving4.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="tradliving4" value="traditional" ng-model="quizData.living4">
				<label for="tradliving4">
					<img src="images/traditional/tradliving4.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="boholiving4" value="boho" ng-model="quizData.living4">
				<label for="boholiving4">
					<img src="images/Electic bohemian/boholiving4.jpg"></img>
				</label>
			</div>	
			
			<div class="col-md-2">
				<input type="radio" id="modernliving4" value="modern" ng-model="quizData.living4">
				<label for="modernliving4">
					<img src="images/modern/modernliving4.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="cottageliving4" value="cottage" ng-model="quizData.living4">
				<label for="cottageliving4">
					<img src="images/cottage farmhouse/cottageliving4.jpg"></img>
				</label>
			</div>

				
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="modernliving5" value="modern" ng-model="quizData.living5">
				<label for="modernliving5">
					<img src="images/modern/modernliving5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="cottageliving5" value="cottage" ng-model="quizData.living5">
				<label for="cottageliving5">
					<img src="images/cottage farmhouse/cottageliving5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="tradliving5" value="traditional" ng-model="quizData.living5">
				<label for="tradliving5">
					<img src="images/traditional/tradliving5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="boholiving5" value="boho" ng-model="quizData.living5">
				<label for="boholiving5">
					<img src="images/Electic bohemian/boholiving5.jpg"></img>
				</label>
			</div>	
			<div class="col-md-2">
				<input type="radio" id="industrustliving5" value="industrial" ng-model="quizData.living5">
				<label for="industrustliving5">
					<img src="images/Industrial/industrustliving5.jpg"></img>
				</label>
			</div>				
		</div>
	</form>
	<button class="btn-btn-primary"><a href="#/4">Previous</a></button>
</div>