<div>
	<h2>Dining Rooms</h2>
	<p>Choose your most preferred dining room style for each row <span class="partspan">[Part 3 of 5]</span></p>
		<form>
		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="bohodining1" value="boho" ng-model="quizData.dining1">
				<label for="bohodining1">
					<img src="images/Electic bohemian/bohodining1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="cottagedining1" value="cottage" ng-model="quizData.dining1">
				<label for="cottagedining1">
					<img src="images/cottage farmhouse/cottagedining1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="moderndining1" value="modern" ng-model="quizData.dining1">
				<label for="moderndining1">
					<img src="images/modern/moderndining1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="industrustdining1" value="industrial" ng-model="quizData.dining1">
				<label for="industrustdining1">
					<img src="images/Industrial/industrustdining1.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="traddining1" value="traditional" ng-model="quizData.dining1">
				<label for="traddining1">
					<img src="images/traditional/traddining1.jpg"></img>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="traddining2" value="traditional" ng-model="quizData.dining2">
				<label for="traddining2">
					<img src="images/traditional/traddining2.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="moderndining2" value="modern" ng-model="quizData.dining2">
				<label for="moderndining2">
					<img src="images/modern/moderndining2.jpg"></img>
				</label>
			</div>
			
			<div class="col-md-2">
				<input type="radio" id="industrustdining2" value="industrial" ng-model="quizData.dining2">
				<label for="industrustdining2">
					<img src="images/Industrial/industrustdining2.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="cottagedining2" value="cottage" ng-model="quizData.dining2">
				<label for="cottagedining2">
					<img src="images/cottage farmhouse/cottagedining2.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="bohodining2" value="boho" ng-model="quizData.dining2">
				<label for="bohodining2">
					<img src="images/Electic bohemian/bohodining2.jpg"></img>
				</label>
			</div>

		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="cottagedining3" value="cottage" ng-model="quizData.dining3">
				<label for="cottagedining3">
					<img src="images/cottage farmhouse/cottagedining3.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="traddining3" value="traditional" ng-model="quizData.dining3">
				<label for="traddining3">
					<img src="images/traditional/traddining3.jpg"></img>
				</label>
			</div>

			
			<div class="col-md-2">
				<input type="radio" id="moderndining3" value="modern" ng-model="quizData.dining3">
				<label for="moderndining3">
					<img src="images/modern/moderndining3.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="industrustdining3" value="industrial" ng-model="quizData.dining3">
				<label for="industrustdining3">
					<img src="images/Industrial/industrustdining3.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="bohodining3" value="boho" ng-model="quizData.dining3">
				<label for="bohodining3">
					<img src="images/Electic bohemian/bohodining3.jpg"></img>
				</label>
			</div>			
		</div>

		<div class="row">
			
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="bohodining4" value="boho" ng-model="quizData.dining4">
				<label for="bohodining4">
					<img src="images/Electic bohemian/bohodining4.jpg"></img>
				</label>
			</div>	
			<div class="col-md-2">
				<input type="radio" id="cottagedining4" value="cottage" ng-model="quizData.dining4">
				<label for="cottagedining4">
					<img src="images/cottage farmhouse/cottagedining4.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="moderndining4" value="modern" ng-model="quizData.dining4">
				<label for="moderndining4">
					<img src="images/modern/moderndining4.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="industrustdining4" value="industrial" ng-model="quizData.dining4">
				<label for="industrustdining4">
					<img src="images/Industrial/industrustdining4.jpg"></img>
				</label>
			</div>

			<div class="col-md-2">
				<input type="radio" id="traddining4" value="traditional" ng-model="quizData.dining4">
				<label for="traddining4">
					<img src="images/traditional/traddining4.jpg"></img>
				</label>
			</div>	
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<input type="radio" id="moderndining5" value="modern" ng-model="quizData.dining5">
				<label for="moderndining5">
					<img src="images/modern/moderndining5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="industrustdining5" value="industrial" ng-model="quizData.dining5">
				<label for="industrustdining5">
					<img src="images/Industrial/industrustdining5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="cottagedining5" value="cottage" ng-model="quizData.dining5">
				<label for="cottagedining5">
					<img src="images/cottage farmhouse/cottagedining5.jpg"></img>
				</label>
			</div>
			<div class="col-md-2">
				<input type="radio" id="bohodining5" value="boho" ng-model="quizData.dining5">
				<label for="bohodining5">
					<img src="images/Electic bohemian/bohodining5.jpg"></img>
				</label>
			</div>	
			<div class="col-md-2">
				<input type="radio" id="traddining5" value="traditional" ng-model="quizData.dining5">
				<label for="traddining5">
					<img src="images/traditional/traddining5.jpg"></img>
				</label>
			</div>
							
		</div>
	</form>

	<div class="bottombuttons">
		<button class="btn-btn-primary prevnextbutton"><a href="#/2">Previous</a></button>
		<button class="btn-btn-primary prevnextbutton" ng-if="quizData.dining1 != null && quizData.dining2 != null && quizData.dining3 != null && quizData.dining4 != null && quizData.dining5 != null" class="btn-btn-primary"><a href="#/4">Next</a></button>
	</div>
</div>